<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <style>
            body{ text-align:left; } li{ font-size: 15px; } p{ font-size: 18px;
            } .btn { display: block; width: 115px; height: 25px; padding: 10px;
            text-align: center; border-radius: 5px; color: white; font-weight:
            bold; line-height: 25px; } .btn-success { background: #4E9CAF; }
        </style>
    </head>
    <body>
        <h2>Hello {{name}}!</h2>
        <p>
            Welcome to the car-viewer platform, please click on the button below
            to active your account
        </p>
        <a class='btn btn-success' href={{url}} target='_blank'>Activate account</a>
        <p>Happy Email Sending!</p>
    </body>
</html>